/* Usar google fonts para los estilos de letras. */


/* Registro */

/* Index */

header {
    max-height: 150px;
    background-color: #c4c1c1; /* Color de fondo opcional */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
  align-self: flex-end;
}

nav ul {
    list-style-type: none;
    margin-right: 60px;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin-left: 50px; /* Espacio entre elementos li */
}

nav ul li a {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto de su contenedor */
}

nav ul li a:hover {
    color: rgb(32, 162, 95); /* Cambia el color del texto cuando se pasa el cursor sobre el enlace */
}



/* Reservas */

/* Nosotros */