// Estilos del main
/*Estilos del main*/
main {
    padding-top: 130px; 
    padding-bottom: 130px; 
}

.form-control {
    background-color: rgba(255, 255, 255, 0.85);
    font-weight: 200;
}

.titulo-registro {
    font-size: 45px;
    font-weight: 200;
}

.container {
    margin-top: 60px;
}

.imagenFondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url($imagen-fondo-url);
    background-size: cover;
    background-position: center;
    z-index: -1;
}


.seccionDeportes {
    /* position: absolute; */ 
    /* vertical-align: middle; */ 
    /* top: 0; */ 
    /* left: 0; */ 
    width: 100%;
    /* height: 100%; */
    z-index: 0;
    // padding-top: 160px;
}


.listaDeportes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    font-size: 50px;
    font-weight: 200;
    color:$listaDeportes-color;

    a {
        margin-top: 30px;
        text-decoration: none;
        transition: transform 0.2s ease;
        color: aliceblue;

        img {
            height: 70px;
            width: auto;
            margin-right: 20px;
            filter: invert(1);
        }

        &:hover {
            transform: scale(1.1);
        }
    }
}