// Estilos del footer
/*Estilos del footer*/
footer {
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
    max-height: 130px;
    font-family: "Quicksand", sans-serif;
}

.mapaIframe {
    width: 65%;
    height: 90px;
    margin-bottom: 20px;
    border: 0;
}